<ion-content>
  <div>
    <ion-list>
      <ion-tab-button  [routerLink]="['/gamesection']" >
        <ion-icon size="large" name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
    </ion-list>
    <ion-list>
      <ion-tab-button  [routerLink]="['/manage-questions']"  >
        <ion-icon size="large" name="help"></ion-icon>
        <ion-label>Manage Questions</ion-label>
      </ion-tab-button>
    </ion-list>
    <ion-list>
      <ion-tab-button   [routerLink]="['/admintransfer']" routerLinkActive="router-link-active" >
        <ion-icon size="large"  name="swap"></ion-icon>
        <ion-label>Transfer</ion-label>
      </ion-tab-button>
    </ion-list>
    <ion-list>
      <ion-tab-button   [routerLink]="['/payouts']" routerLinkActive="router-link-active" >
        <ion-icon size="large"  name="wallet"></ion-icon>
        <ion-label>Payouts</ion-label>
      </ion-tab-button>
    </ion-list> 
    <ion-list>
      <ion-tab-button   [routerLink]="['/adminquery']">
        <ion-icon size="large"  name="search"></ion-icon>
        <ion-label>Search</ion-label>
      </ion-tab-button>
    </ion-list>
    <ion-list>
      <ion-tab-button   [routerLink]="['/cashout-request']">
        <ion-icon size="large"  name="cash"></ion-icon>
        <ion-label>Cash-out Request</ion-label>
      </ion-tab-button>
    </ion-list>
    <ion-list>
      <ion-tab-button   [routerLink]="['/admin-play']">
        <ion-icon size="large"  name="logo-game-controller-a"></ion-icon>
        <ion-label>Play Game</ion-label>
      </ion-tab-button>
    </ion-list>
    <ion-list>
      <ion-tab-button   [routerLink]="['/admin-leaderbord']">
        <ion-icon size="large"  name="trophy"></ion-icon>
        <ion-label>Leaderboard</ion-label>
      </ion-tab-button>
    </ion-list> 
    <ion-list>
      <ion-tab-button   [routerLink]="['/admin-account']">
        <ion-icon  size="large"  name="settings"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>
    </ion-list>
  </div>
</ion-content>
