
  <ion-content>
    <div class="content">
      
    <form  *ngIf="showNumberForm" class="mt-5 form" #passwordForm 
    ngform="passwordForm" name="form"  (submit)="submitNumber(passwordForm)">
    <h5  class="text-center font-weight-bold text-white mb-4">FORGET PASSWORD</h5>
    <div *ngIf="loading"><ion-progress-bar type="indeterminate"></ion-progress-bar></div>
     <div  class="text-input mb-2">
         <div >
            <ion-label class="ml-3" position="floating">Phone</ion-label>
            <ion-input class="ml-3" type="number" #number name="number" clearInput [(ngModel)]="model.number"
              autocomplete="off"  minlength="11"  required="true" ></ion-input>
         </div>
     </div>

   <div class="justify-content-center row pt-2">
       <ion-button   type="submit" color="light" (submit)="submitNumber(passwordForm)"
       > <p style="color: #00351a;" class="font-weight-bold">SUBMIT</p> </ion-button>
   </div>
   </form>

    <!-- loader -->
    <div *ngIf="loading" class=" ">
        <div class="toast-container ">
            <div class="lds-roller"><div></div><div></div><div></div><div></div>
            <div></div><div></div><div></div><div></div></div>
        </div>
      </div>


      <!-- reset password input -->
      <form *ngIf="allowReset" class="mt-5 form" #newPasswordForm 
    ngform="newPasswordForm" name="form"  (submit)="submitNewPassword(newPasswordForm)">
    <h5  class="text-center font-weight-bold text-white mb-4">ENTER NEW PASSWORD</h5>
    <div *ngIf="loading"><ion-progress-bar type="indeterminate"></ion-progress-bar></div>
     <div  class="text-input mb-2">
         <div >
            <ion-label class="ml-3" position="floating">Password</ion-label>
            <ion-input class="ml-3" type="password" #new_password name="new_password"  [(ngModel)]="model.newPassword"
              autocomplete="off"   required="true" >
              <ion-icon (click)="new_password.type=new_password.type=='password'?'text':'password'" size="medium" name="eye"></ion-icon>
            
            </ion-input>
         </div>
        
     </div>

     <div  class="text-input mb-2">
        <div  class="text-input mb-2">
            <ion-label class="ml-3" position="floating">Confirm Password</ion-label>
            <ion-input class="ml-3" type="password" #confirm_password name="confirm_password"
             [(ngModel)]="model.confirmPassword"
              autocomplete="off"   required="true" >
              <ion-icon (click)="confirm_password.type=confirm_password.type=='password'?'text':'password'" size="medium" name="eye"></ion-icon>
            </ion-input>
         </div> 
     </div>

     

   <div class="mt-4">
       <ion-button   type="submit" color="light" 
       (submit)="submitNewPassword(newPasswordForm)"
       > CONFIRM</ion-button>
   </div>
   </form>


    </div>
  </ion-content>
