.content{
    background-image: url("../../assets/img/app-bg.png");
    height: 100%;
    width: 100%;
     background-position: center; 
    //  position: fixed;
     background-size: cover;
      background-repeat: no-repeat; 
  }
  
  
   form{
      opacity: 1; 
    
  
   }