<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="gamesection" routerDirection="backward"></ion-back-button>
    </ion-buttons>
   <div class="row d-flex justify-content-center">
    <img [routerLink]="['/gamesection']"  class="rounded-top" src="../../assets/icon/Logoicon.png">
   </div>
    
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="content text-white">

      <h3 class="main text-center p-5 font-weight-bold">HOW TO PLAY I-SABI</h3>

  <ion-card class="text-center text-white pb-3 ">
    <div class="d-flex justify-content-center row mb-2">
      <img class="image_icon" width="250" height="50%" src="../../assets/how_to_play/plus_icon.jpg" alt="">

    </div>
    <h5>Create Account </h5>
    <p>Click on sign up then input the required information needed I.e phone / username / password/
      confirm password. Click submit.
      NB cross check your details properly before submitting.</p>
  </ion-card>

  <ion-card class="text-center text-white pb-3 ">
    <div class="d-flex justify-content-center row mb-2">
      <img class="image_icon" width="250" height="50%" src="../../assets/how_to_play/wallet.jpg" alt="">
    </div>
    <h5>Credit Account </h5>
    <p>Click on the account section. Click on the enter amount free space.
      First you have to input the amount intended to credit your i-sabi wallet with.
      Click on the preferred payment model.</p>
  </ion-card>

  <ion-card class="text-center text-white pb-3 ">
    <div class="d-flex justify-content-center row mb-2">
      <img class="image_icon" width="250" height="50%" src="../../assets/how_to_play/game_pad.png" alt="">
    </div>
    <h5>I-sabi Live Session </h5>
    <p>i-sabi live session starts from 6am - 6pm every Saturday, make sure you are logged in to participate.</p>
    <p>Each game session cost two hundred naira (200)</p>
  </ion-card>

  <ion-card class="text-center text-white pb-3 ">
    <div class="d-flex justify-content-center row mb-2">
      <img class="image_icon" width="250" height="50%" src="../../assets/how_to_play/network_bar.png" alt="">

    </div>
    <h5>Stay Connected</h5>
    <p>Stay connected when games are on. Make sure that your
       network or wifi is connected properly so you do not get interrupted during game play. </p>
  </ion-card>

  <ion-card class="text-center text-white pb-3 ">
    <div class="d-flex justify-content-center row mb-2">
      <img class="image_icon" width="250" height="50%" src="../../assets/how_to_play/question_mark.png" alt="">

    </div>
    <h5>How Much Do You Know?</h5>
    <p>Endeavour to answer 15 question correctly under 4
       minutes and you stand the chance of winning 5k cash price. </p>
  </ion-card>

  <ion-card class="text-center text-white pb-3 ">
    <div class="d-flex justify-content-center row mb-2">
      <img class="image_icon" width="250" height="50%" src="../../assets/how_to_play/cash_hand.png" alt="">
    </div>
    <h5>I-sabi Cash Prize</h5>
    <p>Top five winners on our leaderboard get paid a sum of five thousand naira  (5,000) 
      after every Saturday game play.
    </p>
  </ion-card>

  <ion-card class="text-center text-white pb-3 ">
    <div class="d-flex justify-content-center row mb-2">
      <img class="image_icon" width="250" height="50%" src="../../assets/how_to_play/bulb.png" alt="">
    </div>
    <h5>Clue Tips </h5>
    <p>Clue tip gives insight to the questions for next game to be played.
       They role from 6:02pm Saturday to the next week Saturday by 5:59am.
    </p>
  </ion-card>

  <ion-card class="text-center text-white pb-3 ">
    <div class="d-flex justify-content-center row mb-2">
      <img class="image_icon" width="250" height="50%" src="../../assets/how_to_play/bulb.png" alt="">
    </div>
    <h5>Leaderboard </h5>
    <p>The leaderboard displays everyone that answers their questions correctly. The top five players will
      be rewarded as the winners for the week.
    </p>
  </ion-card>

  
</div>
</ion-content>
