<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="gamesection" routerDirection="backward"></ion-back-button>
    </ion-buttons> -->
    <ion-img [routerLink]="['/gamesection']"  class="rounded-top" src="../../assets/icon/Logoicon.png"></ion-img>
  </ion-toolbar>
</ion-header>




<ion-content> 
  <ion-fab  vertical="top" horizontal="center" slot="fixed">
    <ion-button (click)="presentNavigation()" type="block" size="large">Navigation</ion-button>
  </ion-fab>

<div class="mt-5">
  ####################################
</div>
  <ion-card class=" card text-white text-center" *ngFor="let item of leaderBoard; index as i">
    <!-- <ion-card-header class="text-white"> {{item?.Date | date:'full'}} </ion-card-header> -->
    <ion-card-content>
      <ion-list class="text-dark">
        <ion-row class=" winner lighten-2 p-2" [ngClass]="{'bg-danger': i+1 > 5}">
        <ion-chip class="position green lighten-2 font-weight-bold"
                    [ngClass]="{' animated infinite rubberBand': i+1 < 6}"> {{i + 1}} </ion-chip>
        <p class="font-weight-bold">{{item?.Date | date:'full'}} </p>
        <p class="font-weight-bold">{{item?.user}} </p>
        <p> Enlapsed  {{item?.minutes}}: {{item?.seconds}} </p>
        </ion-row>
      </ion-list>
      <ion-button size="small" color="danger" (click)="presentAlertConfirm(item._id)">Delete</ion-button>
    </ion-card-content>
  </ion-card>

    <!-- loader -->
    <div  *ngIf="loading">
      <div class="toast-container ">
        <div class="lds-roller">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
</ion-content>
