<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="gamesection" routerDirection="backward"></ion-back-button>
    </ion-buttons>
    <div class="row d-flex justify-content-center">
      <img class="rounded-top"  src="../../../assets/icon/Logoicon.png">
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">

    <!-- <p class=" bg-dark m-5 text-center text-white"> contact us</p> -->

    
  
    <ion-card class="bg-light">
      <ion-card-content>
        <ion-row>
          <ion-icon name="mail" size="large" color="success"></ion-icon> <h1>support@i-sabi.com</h1>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card class="bg-light">
      <ion-card-content>
        <ion-row>
          <ion-icon name="call" size="large" color="success"></ion-icon> <h1 > +2348133416863</h1>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card class="bg-light">
      <ion-card-content>
        <ion-row>
          <ion-icon name="logo-whatsapp" size="large" color="success"></ion-icon> <h1 > +2347016790989</h1>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card class="bg-light">
      <a href="https://www.facebook.com/ISABIofficial/">
      <ion-card-content>
        <ion-row>
          <ion-icon name="logo-facebook" size="large" color="info"></ion-icon> <h1 class="pl-2" >join i-sabi winners group</h1>
        </ion-row>
      </ion-card-content>
    </a>
    </ion-card>

    <ion-card class="bg-light">
      <a href="https://twitter.com/isabi_ng">
      <ion-card-content>
        <ion-row>
          <ion-icon name="logo-twitter" size="large" color="tertiary"></ion-icon> <h1 class="text-info" >follow i-sabi winners </h1>
        </ion-row>
      </ion-card-content>
    </a>
    </ion-card>
      <!-- message-->
      <!-- <div *ngIf="sms_section" style="padding-top: 40px;">
        <form #smsform id="smsform" name="youtubeform" (submit)="submitSms(smsform)">
          <ion-item >
            <textarea rows="5" cols="40" placeholder="Enter sms here..." #sms name="sms" [(ngModel)]="model.sms" placeholder="Enter sms here" ></textarea>
           </ion-item>
           <ion-button type="submit" [disabled]="!sms.value"> SEND</ion-button>
          </form>
        </div> -->
        <!-- messages -->
  </div>

</ion-content>
