.content{
    background-image: url("../../assets/img//app-bg.png");
    height: 100%;
    width: 100%;
    position: fixed;
     background-position: center; 
     background-size: cover;
      background-repeat: no-repeat; 
  }
  .icon-bar {
    width: 100%;
    background-color: #555;
    display: flex;
    overflow: auto;
  }