.content{
    // background-image: url("../../../assets/img/isabi-bg.jpg");
    background-color: rgb(8, 58, 8);
    height: 100%;
    width: 100%;
    // position: fixed;
     background-position: center; 
     background-size: cover;
      background-repeat: no-repeat; 
  }

  .card{
    background-color: rgb(8, 58, 8);
  }
